body {
  background-color:antiquewhite;
}
#display {
  margin-top: 20px;
  margin-left:10px;
  width: 24%
}
#drum-machine {
  background-color: rgba(219, 219, 219, 0.788);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 200px;
  margin-left: 36%;
  width: 24%
}
.drum-pad {
  display: flex;
  width:100px;
  height: 100px;
  border: 2px solid black;
  margin: 4px;
  justify-content:center;
  align-items: center;
}